TELEGRAM_BOT_TOKEN=123456:replace_me
TELEGRAM_CHANNEL_ID=@replace_me
PUBLISH_API_TOKEN=replace_with_long_random_token
TELEGRAM_API_BASE=https://api.telegram.org
REQUEST_TIMEOUT_SECONDS=30
DEFAULT_PARSE_MODE=HTML
DEFAULT_LINK_STYLE=buttons
